@import "../scss/variate.scss";
@import '../common/btn.scss',"../common/alertInfo.scss";

$font-color:#393c40;
$login-theme-color:#37a6f7;

body {
  min-height: 544px;
  overflow-y: auto;
}
//svg图标
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

  &.middle {
    font-size: 22px;
  }

  &.big {
    font-size: 30px;
  }
}

.loginPage {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: $page-min-width;
}

.g-login {
  position: relative;
  max-height: 720px;
  height: 95%;
  width: 100%;

  .login-head {
    display: flex;
    width: 65%;
    margin: auto;
    align-items: center;
    color: #4e73a5;
    height: 50px;
    margin-bottom: 26px;

    .logo {
      background: url("./assert/imgs/company_logo.svg") no-repeat center;
      height: 38px;
      width: 159px;
      background-size: contain;
    }

    .login-welcome {
      font-size: 29px;
      font-weight: normal;
      letter-spacing: 3px;
      margin-left: 22px;
    }
  }

  .login-bg {
    max-height: 512px;
    height: calc(100% - 170px);
    background: url('./assert/imgs/bg.svg') no-repeat center;
    background-size: cover;
    overflow: hidden;
  }

  .layout-center {
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .login-Copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 48px;
    letter-spacing: 0;
    color: #b9c2d3;

    & > p {
      margin-top: 12px;
    }
  }
}

.login-img-wrap {
  height: 100%;
  position: relative;
  width: 618px;
  margin-right: 158px;
}

.login-img {
  color: white;
  width: 618px;
  height: 680px;
  background: url("./assert/imgs/login-img.png") bottom no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 24px;
}

.m-login {
  border-radius: 4px;
  background: $page-bg;
  box-shadow: 2px 3px 18px 0 rgba(0, 0, 0, 0.16);
  width: 300px;
  height: 60%;
  min-height: 268px;
  padding: 32px 34px;
  padding-bottom: 40px;

  .login-title {
    font-size: 24px;
    letter-spacing: 5px;
    color: $font-color;
    position: relative;
    margin-bottom: 40px;
  }

  .login-inp {
    width: 100%;
    height: 50px;
    margin: 12px 0;
    position: relative;
  }

  .s-inp {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border: solid 1px $border-color;
    border-radius: 4px;
    text-align: center;
  }

  .login-inpBox {
    .fa {
      position: absolute;
      font-size: 14px;
      top: 18px;
      left: 1em;
    }
  }

  .submit-btn {
    text-align: center;
    margin-top: 40px;
  }

  .login-btn {
    padding: 0;
    font-size: 16px;
    color: white;
    width: 136px;
    height: 49px;
    background-image:
      linear-gradient(
        315deg,
        #2c6dd2 0%,
        #4e73a5 100%
      );
    box-shadow:
      0 10px 20px 0
      rgba(0, 0, 0, 0.14);
    border-radius: 4px;

    &:hover {
      background: lighten($color:#2c6dd2, $amount: 10);
      color: white;
    }
  }
}
// 动画提醒
.m-warn {
  // margin-top: 12px;
  color: $error;
  position: absolute;
  padding: 6px;
  animation: alertAnimate 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transform: translateX(300px);

  .fa {
    font-size: 18px;
  }
}

@keyframes alertAnimate {
  to {
    transform: translateX(0);
  }
}
