
@import "../scss/variate";
$M_width:400px;
$bg: $page-bg;
$padding: 40px;

.g-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;

  .m-Mask {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .m-Mwrap {
    height: 100%;
  }
}

.m-Modal {
  z-index: 2;
  min-width: $M_width;
  color: $text-color;
  box-shadow: $shadow;
  border-radius: 4px;
  background-color: $bg;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .m-Mtit {
    height: 48px;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 2px solid $normal;
  }

  .tit-name {
    padding: 10px 20px;
    width: calc(100% - 56px);
    font-size: 18px;
    cursor: move;
  }

  .m-Mclose {
    color: $normal;
    position: absolute;
    right: $padding - 20;
    top: 14px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  .m-Mbody {
    padding: $padding;
    padding-top: 30px;
    overflow: auto;

    .m-gridBox {
      background: white;
      border-radius: 4px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .m-Mfooter {
    display: flex;
    justify-content: center;
    padding: $padding;
    padding-top: 0;

    .s-btn {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }

    .m-warn {
      left: 24px;
    }
  }

  .item-inp {
    margin: 12px 0;

    & > .item-inp {
      margin: 0;
    }
  }
}

.g-confirm {
  .m-Mfooter {
    display: flex;
    justify-content: flex-end;

    .s-btn {
      margin-right: 5px;
    }
  }

  .del-body {
    display: flex;
  }

  .del-txt {
    font-size: 16px;
    line-height: 40px;
    word-break: break-all;
  }

  .del-tip {
    $color:#aaaeb3;

    color: $color;
    font-size: 12px;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: $color;
    }
  }

  .del-icon {
    margin-right: 16px;

    .fa {
      font-size: 50px;
      color: $error;
    }
  }
}
